html{
    height: 100%;
}

body{
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom,rgba(136, 235, 228, 0.5), #cfcfcf);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 60px;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h1{
    display: inline-block;
    flex: 2;
    color:#040468;
    margin-left: 40px;
    font-style: italic;
}

header .home-link{
    text-decoration: none;
    color: #040468;
}

header .main-nav{
    display: inline-block;
    flex: 1;
    margin-right: 72px;
}

header #nav-toggle{
    display: none;
}

#nav-toggle:checked ~ ul{
    max-height: 200px;
}

.main-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.main-nav li{
    margin: 0 20px;
}

.main-nav .nav-link{
    text-decoration: none;
    color: #000000;
    transition: opacity 0.3s ease-out;
}

.main-nav .nav-link:hover{
    color: #000000;
    opacity: 0.5;
    text-decoration: underline;
}

.main-nav .active-link{
    color: #040468;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #040468;
}

.main-nav .active-link:hover{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px;
}
main .full-sect{
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    height: 300px;
    width: 900px;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: radial-gradient(ellipse at top left, rgba(0, 0, 255, 0.4), rgba(255, 192, 203, 0.8), rgba(0, 0, 255, 0.2));
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

main .img-sect{
    height: 100%;
    margin: 0 20px;
    overflow: hidden;
    width: 200px;
}

main .img-sect img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: transform 0.4s ease-out;
}

main .img-sect img:hover{
    transform: scale(1.2);
}

main .info-sect{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    padding-top: 48px;
    padding-left: 20px;
    margin: 0;
}

main .info-sect h2{
    font-size: 48px;
    margin: 0;
    margin-bottom: 24px;
}

main .info-sect h4{
    margin: 0;
    margin-bottom: 18px;
    color: #040468;
}

main .info-sect p{
    margin: 0;
    line-height: 1.5rem;
    opacity: 0.65;
}


/* Responsive Design */
    
/* For larger screen sizes */

@media screen and (min-width:566px){
    .hamburger-icon{
        display: none;
    }
}

@media screen and (max-width:1000px){
    header h1{
        font-size: 1.9rem;
    }
    header .main-nav{
        margin-right: 20px;
    }
    header .main-nav ul{
        width: 280px;
        margin-left: 10px;
        font-size: 15px;
    }
    header .main-nav li{
        margin: 0;
    }
    main{
        margin: 0 20px;
        overflow-x: hidden;
    }
    main .full-sect{
    width: 750px;
    height: 350px;
    padding: 10px;
    }
}

@media screen and (max-width:850px){
    main .full-sect{
        width: 650px;
    }
}

@media screen and (max-width:740px){
    header h1{
        font-size: 1.3rem;
    }
    header .main-nav{
        margin-right: 18px;
    }
    header .main-nav ul{
        width: 250px;
        margin-left: 10px;
        font-size: 14px;
    }
    main .full-sect{
        flex-direction: column;
        position: relative;
        width: 450px;
        height: 400px;
    }
    main .img-sect{
        position: absolute;
        left: 0;
        top: 10px;
        height: 200px;
    }
    main .info-sect{
        align-items: end;
        padding-top: 70px;
    }
    main .info-sect p,
    main .info-sect h2,
    main .info-sect h4{
        align-self: center;
    }
    main .info-sect h4{
        font-size: 12px;
        margin-left: 200px;
    }
    main .info-sect h2{
        font-size: 32px;
        margin-left: 140px;
    }
    main .info-sect p{
        margin-top: 40px;
        width: 450px;
    }
}

/* For smaller screen sizes */

@media screen and (max-width:565px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header h1{
        font-size: 1.6rem;
    }
    header .main-nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        height: 200px;
        align-self: self-start;
        margin-right: 20px;
    }
    header .main-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 48px;
        width: 80px;
        height: 150px;
        justify-content: space-around;
        align-self: flex-end;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.5);
        max-height: 0;
        overflow: hidden;
        z-index: 999;
        transition: max-height 0.25s ease-out;
    }
    header .main-nav .hamburger-icon{
        margin-top: 13px;
        height: 50px;
        font-size: 25px;
        align-self: flex-end;
        margin-right: 15px;
        margin-bottom: 12px;
        cursor: pointer;
        z-index: 1000;
    }
    main .full-sect{
        width: 300px;
        height: 670px;
    }
    main .img-sect{
        top: 15px;
        width: 280px;
        height: 250px;
    }
    main .info-sect{
        align-items: center;
        padding-top: 270px;
    }
    main .info-sect h4{
        margin: 0;
        font-size: 14px;
    }
    main .info-sect h2{
        margin: 0;
        margin-bottom: 15px;
    }
    main .info-sect p{
        padding-right: 10px;
        width: 290px;
        margin-top: 20px;
    }
}

@media screen and (max-width:475px){
    header .main-nav ul{
        left: 10px;
        top: 45px;
    }
    header{
        height: 50px;
    }
    header h1{
        font-size: 1.5rem;
        margin-left: 20px;
    }
    header .main-nav .hamburger-icon{
        font-size: 18px;
        margin-right: 10px;
    }
}

@media screen and (max-width:375px){
    header .main-nav ul{
        left: 5px;
    }
    header h1{
        font-size: 1.1rem;
    }
    main{
        overflow: visible;
    }
}