html{
    height: 100%;
}

body{
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom,rgba(136, 235, 228, 0.5), #cfcfcf);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 60px;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h1{
    display: inline-block;
    flex: 2;
    color:#040468;
    margin-left: 40px;
    font-style: italic;
}

header .home-link{
    text-decoration: none;
    color: #040468;
}

header .main-nav{
    display: inline-block;
    flex: 1;
    margin-right: 72px;
}

header #nav-toggle{
    display: none;
}

#nav-toggle:checked ~ ul{
    max-height: 200px;
}

.main-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.main-nav li{
    margin: 0 20px;
}

.main-nav .nav-link{
    text-decoration: none;
    color: #000000;
    transition: opacity 0.3s ease-out;
}

.main-nav .nav-link:hover{
    color: #000000;
    opacity: 0.5;
    text-decoration: underline;
}

.main-nav .active-link{
    color: #040468;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #040468;
}

.main-nav .active-link:hover{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    width: 100%;
}

main .title-sect{
    color: #040468;
    font-style: none;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 8px;
}

main .project-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

main .project-list img,
main .project-list h3,
main .project-list p{
    margin: 0;
    padding: 0;
}

main .project-list .Project-1,
main .project-list .Project-2,
main .project-list .Project-3{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    padding: 24px;
    background-image: radial-gradient(ellipse at top left, rgba(0, 0, 255, 0.4), rgba(255, 192, 203, 0.8), rgba(0, 0, 255, 0.2));
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

main .project-list div:hover{
    transform: scale(1.05);
}

main .img-div{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main .img-div:hover{
    height: 100%;
    transform: scale(0);
}
main .project-list img{
    width: 100%;
    border-radius: 5px;
    transition: transform 0.5s ease-out;
}

main .project-list img:hover{
    transform: scale(1.2);
}

main .project-list h3{
    text-align: center;
    color: #040468;
    margin-top: 20px;
    margin-bottom: 16px;
}

main .project-list p{
    color: rgba(4, 4, 104, 0.6);
    text-align: center;
    line-height: 1.4rem;
    font-style: italic;
}

/* Responsive Design */
    
/* For larger screen sizes */

@media screen and (min-width:566px){
    .hamburger-icon{
        display: none;
    }
}

@media screen and (max-width:1100px){
    header h1{
        font-size: 1.9rem;
    }
    header .main-nav{
        margin-right: 20px;
    }
    header .main-nav ul{
        width: 280px;
        margin-left: 10px;
        font-size: 15px;
    }
    header .main-nav li{
        margin: 0;
    }
    main{overflow-x: hidden;
    }
    main .project-list .Project-1,
    main .project-list .Project-2,
    main .project-list .Project-3{
        width: 210px;
        height: 410px;
    }
}

@media screen and (max-width:900px){
    main .project-list{
        position: relative;
        height: 1000px;
        align-items: flex-start;
    }
    main .project-list .Project-1,
    main .project-list .Project-2,
    main .project-list .Project-3{
        width: 250px;
    }
    main .project-list .Project-3{
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width:740px){
    header h1{
        font-size: 1.3rem;
    }
    header .main-nav{
        margin-right: 18px;
    }
    header .main-nav ul{
        width: 250px;
        margin-left: 10px;
        font-size: 14px;
    }
    main .project-list .Project-1,
    main .project-list .Project-2,
    main .project-list .Project-3{
        width: 200px;
    }
}

/* For smaller screen sizes */

@media screen and (max-width:565px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header h1{
        font-size: 1.6rem;
    }
    header .main-nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        height: 200px;
        align-self: self-start;
        margin-right: 20px;
    }
    header .main-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 48px;
        width: 80px;
        height: 150px;
        justify-content: space-around;
        align-self: flex-end;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.5);
        max-height: 0;
        overflow: hidden;
        z-index: 999;
        transition: max-height 0.25s ease-out;
    }
    header .main-nav .hamburger-icon{
        margin-top: 13px;
        height: 50px;
        font-size: 25px;
        align-self: flex-end;
        margin-right: 15px;
        margin-bottom: 12px;
        cursor: pointer;
        z-index: 1000;
    }
    main .project-list{
        flex-direction: column;
        align-items: center;
        height: 1500px;
        justify-content: flex-start;
    }
    main .project-list .Project-2{
        margin-top: 65px;
    }
    main .project-list .Project-1,
    main .project-list .Project-2,
    main .project-list .Project-3{
        width: 220px;
    }
}

@media screen and (max-width:475px){
    header .main-nav ul{
        left: 10px;
        top: 45px;
    }
    header{
        height: 50px;
    }
    header h1{
        font-size: 1.5rem;
        margin-left: 20px;
    }
    header .main-nav .hamburger-icon{
        font-size: 18px;
        margin-right: 10px;
    }
}

@media screen and (max-width:375px){
    header .main-nav ul{
        left: 5px;
    }
    header h1{
        font-size: 1.1rem;
    }
    main{
        overflow: visible;
    }
    main .title-sect{
        font-size: 1rem;
    }
}